.footer {

  color: $gray;
  @include breakpoint(mama-bear) { font-size: 0.9em; }
  
  ul { 

    display: none; 
    float: right;

    @include breakpoint(mama-bear) { display: block; }
  }

  li {
    @include cross-browser-inline-block;

    margin: 2em 1em;
    list-style: none; 
  }

  a {
    color: $gray;

    &:hover { color: $white; }
  }

  .footer-logo {
    display: block;
    width: 100%;
    border-bottom: 1px $dark-gray solid;
    text-align: center;
    padding: 6%;
  }

  .copyright {

    display: block; 
    width: 100%;
    margin: 2em 0;
    text-align: center;

    @include breakpoint(mama-bear) { 
      @include cross-browser-inline-block;
      width: auto;
      text-align: left;
    }    
  }

}
