.header {

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  text-transform: $text-transform;

  .inner {
    max-width: $grid-max-width;
    margin: 0 auto;
    padding: 0 1.5em;


    @include breakpoint(teen-bear) { 
      padding: 1.6em 2em;
    } 
  }
}

// Main Bar

.bar.main {

  width: 100%;
  height: $main-bar-height;
  font-family: $light-font-family;
  font-weight: $light-font-weight;
  color: $main-bar-fg-col;
  background-color: $main-bar-bg-col;

  @include breakpoint(teen-bear) { 
    height: $main-bar-height-full;
  }

  a {
    color: $main-bar-fg-col;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    width: 113px;
    height: $main-bar-height;
    padding-right: 1em;
    border-right: 0;
    background: url('../img/layout/logo_pagid.png') no-repeat left center;

    @include breakpoint(teen-bear) { 
      height: ($main-bar-height-full / 2);
      border-right: 1px solid #424141;
    }

    span {
      font-family: $medium-font-family;
    }
  }

  #toggle-main {
    margin: 0;
    padding: 1.2em 0em;
    display: inline-block;
    float: right;

    @include breakpoint(teen-bear) { 
      float: none;
      padding: 0 1em;
    }


  }

  .inner > span {

    display: none;

    &:before {
      @extend .arrow-right-blueprint;
    }

    @include breakpoint(teen-bear) { 
      display: inline-block;
      height: ($main-bar-height-full / 2);
      padding-left: 1.4em;
      padding-top: 0.7em;
      letter-spacing: $bar-letter-spacing;
      border-left: 1px solid #424141;

    }
  }


  #language {

    display: none;

    @include breakpoint(teen-bear) { 

      display: inline-block;
      margin-top: 0.3em;
      position: relative;
      float: right;
      min-width: 150px;

    }
    
    font-size: 0.85em;
    letter-spacing: 0.3em;
    background-color: $language-bg-col;
    cursor: pointer;

    ul {
      position: absolute;
    }

    li {
      display: none;
      min-width: 150px;
      padding: 0.5em 1em;
      color: $language-fg-col;
      background-color: $language-bg-col;

      a { color: $language-fg-col; }

      &:hover {
        background-color: $language-hover-col;
      }

      &:first-child {
        margin: 0;
      }

      &:first-child {
        margin: 0;
      }

    }

    li.active {
      display: block;
    }

    &:hover li {
      display: block;
    }

  }


}

// Sub Bar

.bar.sub {

  // Hide for mobile and pages without the menu
  display: none;

 }

// Show subnav on pages with subnav class in main tag

main.subnav .sub {

  display: none;
  width: 100%;
  background-color: $sub-bar-bg-col;

  color: $sub-bar-fg-col;
  text-align: center;
  font-family: $light-font-family;
  font-weight: $light-font-weight;
  letter-spacing: $bar-letter-spacing;
  text-transform: $text-transform;

  // Hide for mobile

  @include breakpoint(mama-bear) { display: block; }


  ul {
    li {
        
      @include cross-browser-inline-block;
      text-align: center;
      white-space: nowrap;


      // Remove left-border for first menu item
      &:first-child a { border-left: 0px; }
    }

    a {

      padding: 0.9em 2.1em;
      border-left: 1px solid $dark-gray;
      color: $sub-bar-fg-col;
      font-size: 1em;
      line-height: 5.65em;
      
      &.active { color: $sub-bar-active-col; }
      &:hover { color: $sub-bar-hover-col; }

    }      
  }
}
