
// *************************************
//
//   Buttons
//   ->
//
// *************************************


// -------------------------------------
//   Cross-site button
// -------------------------------------

.button {

  @extend %std-button-blueprint;

}



// -------------------------------------
//   Navigation burger
// -------------------------------------

.burger {
  border: 0;
  background-color: transparent;
  padding: 0.93333em 0.7em;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  /* */

  &:hover { opacity: 1; }
  &:active { transition: 0; }
  &:focus { outline: none; }
  .burger::-moz-focus-inner { border: 0; }
}

.lines {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 3px;
  margin-bottom: 3px;
  background: $main-bar-burger-col;
  transition: 0.3s;

  &:before,
  &:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 20px;
    left: 0;
    height: 3px;
    background: $main-bar-burger-col;
    transition: 0.3s;
    transform-origin: 0.2em center;
  }

  &::before { top: 6px; }
  &::after { top: -6px; }
  .close & { background: transparent; }
}

.burger.close .lines:before,
.burger.close .lines:after {
  top: 0;
  width: 20px;
  transform-origin: 50% 50%;
}

.burger.close .lines:before { transform: rotate3d(0, 0, 1, 45deg); }
.burger.close .lines:after { transform: rotate3d(0, 0, 1, -45deg); }

// End of Navigation burger

