
// *************************************
//
//   Cross-Site default styling
//   -> 
//
// *************************************


*, *:after, *:before  {
  box-sizing:border-box;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  outline:none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  
  @include font-family("thin");

  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.618;
  background: $body-colour;
  color: $text-colour;
}

ul, li {
  list-style:none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  color: $link-colour;
}

figcaption {
  font-size: 1.3em;
  text-align: center;
}

.hidden {
  display:none;
}

.main { height: 100%; }