
// *************************************
//
//   Site-wide variables and configuration
//   -> 
//
// *************************************


// -------------------------------------
//   Sizes
// -------------------------------------


$grid-max-width: 1400px; // Max width the grid will expand to
$grid-max-width-small: 960px; // Max width the small grid will expand to


// -------------------------------------
//   Colours
// -------------------------------------


$red: #C9243F;
$blue: #09C;
$gray: #666;
// ...


// Monochrome Colours
$black: rgb(0,0,0);
$darkergrey: lighten($black, 10%);
$darkgrey: lighten($black, 25%);
$grey: lighten($black, 50%);
$lightgrey: lighten($black, 75%);
$lightergrey: lighten($black, 90%);
$white: rgb(255,255,255);


// Colour links
$body-colour: $white;
$text-colour: $darkergrey;
$link-colour: $darkgrey;



// -------------------------------------
//   General
// -------------------------------------


// -------------------------------------
//   Typography
// -------------------------------------


$text-transform: uppercase;
$letter-spacing: 0.1em;

// Font weights
$XB-font-weight: bolder;
$bold-font-weight: bold;
$regular-font-weight: 300;
$light-font-weight: 100;