// *************************************
//
//   Example module
//   -> Overview of module and usage
//
// *************************************

.module {

    // -------------------------------------
    //   Variables & Base
    // -------------------------------------

    $var:    7em;
    $col-fg: #3B5998;
    $col-bg: #c0deed;
    
    
    // 1: @includes
    // 2: base rules
    // 3: hover & effects
    // 4: breakpoints


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__element {}


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}