// *************************************
//
//   SCSS Imports for (projectName)
//
// *************************************

@import 

// -------------------------------------
//   CORE // Should not be modified
// -------------------------------------

'core/_helpers',
'core/_normalise',
'core/_grid',
'core/_print',

// -------------------------------------
//   MIXINS
// -------------------------------------

'mixins/_utilities',
'mixins/_typography',
'mixins/_breakpoints',

// -------------------------------------
//   FOUNDATION
// -------------------------------------

'foundation/_config',
'foundation/_base',

// -------------------------------------
//   MODULES
// -------------------------------------

'modules/_module',

// -------------------------------------
//   VENDOR
// -------------------------------------

'vendor/_external',

// -------------------------------------
//   INBOX
// -------------------------------------

'_inbox';
